<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>F4_Nordic_Motorhome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}">
</head>
<body>
<!-- Side navigation -->
<div class="sideBnav">
    <li><a th:href="@{../customers/customerPage}">Customer</a></li>
    <li><a th:href="@{../vehicles/vehiclePage}">Vehicles</a></li>
    <li><a th:href="@{../bookings/bookingPage}">Booking</a></li>
</div>


<div class="container text-center">
    <!--    link to homepage-->
    <div>
        <a class="h5" th:href="@{/}" >
            Homepage
        </a>
    </div>
    <!--    Search Bookings part-->
    <div>
        <div>
            <h1>Show Vehicles Availability</h1>
        </div>
        <div class="container text-center">
            <a class="h3" th:href="@{/vehicles/new}" >
                Add New Vehicle
            </a>
        </div>

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <!--        Div for Filter-->
        <div class="container text-center">
            <form th:action="@{/vehicles/vehiclePage}" th:object="${keyword}" method="post"
                  style="max-width: 600px; margin: 0 auto;">
                <form th:action="@{/vehicles/vehiclePage}" th:object="${searchDateVehicle}"
                      method="post" style="max-width: 600px; margin: 0 auto;">
                    <div class="m-3">
                        <!--                        Start date input-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Start Date </label>
                            <div class="col-8">
                                <input type="date" th:field="*{startDate}" class="form-control"/>
                            </div>
                        </div>
                        <!--                        End date input-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">End Date </label>
                            <div class="col-8">
                                <input type="date" th:field="*{endDate}" class="form-control"/>
                            </div>
                        </div>

                        <!--                        Search function-->
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Search Vehicles</label>
                            <div class="col-8">
                                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>

                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </form>
        </div>


        <!--    Table-->

        <div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Capacity</th>
                        <th>C License Requirement</th>
                        <th>Total km</th>
                        <th>Registration Plate</th>
                        <th>More</th>
                        <th>More</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="vehicle : ${vehiclesList}">
                        <td th:text="${vehicle.getBrand()}"></td>
                        <td th:text="${vehicle.getModel()}"></td>
                        <td th:text="${vehicle.getCapacity()}"></td>
                        <td th:text="${vehicle.getcLicense()}"></td>
                        <td th:text="${vehicle.getRegistrationPlate()}"></td>
                        <td th:text="${vehicle.registrationPlate}"></td>
                        <td th:text="${available}"></td>
                        <td>
                            <a class="h4" th:href="@{'/edit/' + ${vehicle.getRegistrationPlate()}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a class="h4" th:href="@{'/delete/' + ${vehicle.getRegistrationPlate()}}">Delete</a>
                            &nbsp;&nbsp;
<!--                            <select >-->
<!--                                <option th:each="vehicle : ${vehiclesList}">-->
<!--                                    <span th:text=${vehicle.getRegistrationPlate()}></span>-->
<!--                                </option>-->
<!--                            </select>-->

                            <!--                            <a class="h4" th:href="@{'/customers/delete/' + ${customer.getCustomerId()}}">Delete</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<style>
    .sideBnav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sideBnav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sideBnav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sideBnav {padding-top: 15px;}
        .sideBnav a {font-size: 18px;}
    }
</style>
</html>