<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>F4_Nordic_Motorhome</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<!-- Side navigation -->
<div class="sideBnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/vehicles/vehiclePage}">Vehicles</a>
    <a th:href="@{/customers/customerPage}">Customer</a>
    <a th:href="@{/bookings/bookingPage}">Booking</a>
</div>
<!--End of sidebar-->

<div class="container text-center">
    <!--    Search Bookings part-->
    <div>
        <div>
            <!-- this shows the page title according to information on the server-->
            <h1>[[${titlePage}]]</h1>
        </div>
<!--        This flashes a message and it is triggered by a creation, update or delete operation-->
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div th:if="${alert}" class="alert alert-danger text-center">
            [[${alert}]]
        </div>

        <!--        Div for Filter-->
        <!--        Search if we come from Index-->
        <div th:if="${titlePage.contains('Nordic')}" class="container text-center">
            <div class="text-center border border-secondary rounded p-3">
                <form th:action="@{/vehicles/vehiclePage}" th:object="${keyword}" method="post"
                      style="max-width: 600px; margin: 0 auto;">
                    <form th:action="@{/vehicles/vehiclePage}" th:object="${searchDateVehicle}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="m-3">
                            <!--                        Start date input-->
                            <label class="col-4 col-form-label">Start Date </label>
                            <input type="date" name="startDate" id="startDate" th:field="*{startDate}"
                                   class="form-control"/>
                            <!--                        End date input-->
                            <label class="col-4">End Date </label>
                            <input type="date" name="endDate" id="endDate" th:field="*{endDate}" class="form-control"/>
                            <!--                        Search function-->
                            <label class="col-4 col-form-label">Search Vehicles</label>
                            <input type="text" name="keyword" id="keyword" placeholder="Search a term" size="50"
                                   th:value="${keyword}"
                                   />
                            <!-- the submit will work only if endDate is bigger than startdate-->
                            <button onclick="if (document.getElementById('startDate').value > document.getElementById('endDate').value) return false"
                                    type="submit" id="searchVehicle" class="btn btn-primary">Search</button>
                        </div>
                        <div class="form-group row">
                            <div class="container text-center">
                                <a class="btn btn-danger py-2"
                                   th:href="@{/vehicles/new}">Add New Vehicle</a>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
        </div>

        <!--Search if we come from Booking,  points to filterVehiclesForCustomer, 2nd PostMapping-->
        <div th:if="${!titlePage.contains('Nordic')}" class="container text-center">
            <div class="text-center border border-secondary rounded p-3">
                <form th:action="@{/vehicles/vehiclePageWithCustomer}"
                      th:object="${keyword}"
                      method="post"
                      style="max-width: 600px; margin: 0 auto;">
                    <!--                    takes from getmapping-->
                    <input type="hidden" name="customerId" th:value="${customerIdFromBooking}"/>
                    <form th:action="@{/vehicles/vehiclePageWithCustomer}" th:object="${searchDateVehicle}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="container text-center">
                            <div class="m-3">
                                <!--                        Start date input-->
                                <label class="col-4 col-form-label">Start Date </label>
                                <input type="date" id="startDateCustomer" th:field="*{startDate}"
                                       class="form-control"/>
                                <!--                        End date input-->
                                <label class="col-4 col-form-label">
                                    End Date
                                </label>
                                <input type="date" id="endDateCustomer" th:field="*{endDate}"
                                       class="form-control"/>

                                <!--                        Search function-->
                                <label class="col-4 col-form-label">Search Vehicles</label>

                                <input type="text" name="keyword" id="keywordForCustomer" size="50"
                                       th:value="${keyword}"/>
<!--                                the submit will work only if endDate is bigger than startdate-->
                                <button onclick="if (document.getElementById('startDateCustomer').value > document.getElementById('endDateCustomer').value) return false"
                                        type="submit" id="searchVehicForCustomer" class="btn btn-primary">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
        </div>

        <!--    Table that shows the vehicles-->
        <div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Capacity </th>
                        <th>C License </th>
                        <th>TotalKm</th>
                        <th>Reg Plate</th>
                        <!--                        Head for Available-->
                        <th th:if="${available.contains('Available') || !titlePage.contains('Nordic')}">Availability </th>
                        <!--                        Head for Edit/Delete-->
                        <th th:if="${titlePage.contains('Nordic')}">Edit/Delete</th>
                        <th th:if="${available.contains('Available') && !titlePage.contains('Nordic')}">Choose</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="vehicle : ${vehiclesList}">
                        <td th:text="${vehicle.getBrand()}"></td>
                        <td th:text="${vehicle.getModel()}"></td>
                        <td th:text="${vehicle.getCapacity()}"></td>
                        <td th:text="${vehicle.getcLicense()}"></td>
                        <td th:text="${vehicle.getTotalKm()}"></td>
                        <td th:text="${vehicle.getRegistrationPlate()}"></td>


                        <!--                        Column for Available-->
                        <td th:if="${available.contains('Available') || !titlePage.contains('Nordic')}">
                            <a th:text="${available}"></a></td>
                        <!--                        Head for Edit/Delete-->
                        <td th:if="${titlePage.contains('Nordic')}">
                            <a class="btn btn-info" th:href="@{'/edit/' + ${vehicle.getRegistrationPlate()}}">Edit</a>
                            &nbsp;&nbsp;&nbsp
                            <!--                            Thymeleaf-->
                            <a id="delete" class="btn btn-info"
                               th:data-confirm-delete="|Are you sure you want to delete the vehicle ${vehicle.getRegistrationPlate()}?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                               th:href="@{'/delete/' + ${vehicle.getRegistrationPlate()}}">Delete</a>
                        </td>


                        <!--                        Head for Choose with conditional-->
                        <td th:if="${available.contains('Available') && !titlePage.contains('Nordic')}">
                            <a class="btn btn-success" id="choose"
                               th:if="${searchedBooking.startDate != null}"
                               th:href="@{'/bookings/addToNewBooking/' + ${customerPickedId}+'/'
                                                          + ${vehicle.getRegistrationPlate()}+'/'
                                                           + ${searchedBooking.getStartDate()}+'/'
                                                           + ${searchedBooking.getEndDate()}}">Choose</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<style>
    .button-red {
        background-color: red;
    }

    .sideBnav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sideBnav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sideBnav a:hover {
        color: #f1f1f1;
    }


    @media screen and (max-height: 450px) {
        .sideBnav {
            padding-top: 15px;
        }

        .sideBnav a {
            font-size: 18px;
        }
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    function checkDates(){
        if (document.getElementById('startDate').value > document.getElementById('endDate').value){
            alert("End Date is before Startdate!")
            return false
        }
        return true
    }

    function confirmDelete() {
        if (!confirm("Are you sure you want to delete this vehicle?")){
            window.location = "/vehicles/vehiclePage"
        } else {
            return false
        }
    }
</script>
</html>
