<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>F4_Nordic_Motorhome</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<!-- Side navigation -->
<div class="sideBnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{../vehicles/vehiclePage}">Vehicles</a>
    <a th:href="@{../customers/customerPage}">Customer</a>
    <a th:href="@{../bookings/bookingPage}">Booking</a>
</div>
<!--End of sidebar-->

<div class="container text-center">
    <!--    Search Bookings part-->
    <div>
        <div>
            <h1>[[${titlePage}]]</h1>
        </div>
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div th:if="${alert}" class="alert alert-danger text-center">
            [[${alert}]]
        </div>

        <!--        Div for Filter-->
<!--        Search if we come from Index-->
        <div th:if="${titlePage.contains('Nordic')}" class="container text-center">
            <div th:if="${titlePage.contains('Nordic')}" class="text-center border border-secondary rounded p-3">
                <form th:if="${titlePage.contains('Nordic')}" th:action="@{/vehicles/vehiclePage}"
                      th:object="${keyword}" method="post"
                      style="max-width: 600px; margin: 0 auto;">
                    <form th:action="@{/vehicles/vehiclePage}" th:object="${searchDateVehicle}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="m-3">
                            <!--                        Start date input-->
                            <div class="form-group row">

                                <div class="col-8">
                                    <label class="col-4 col-form-label">Start Date </label>
                                    <input type="date" id="startDate" th:field="*{startDate}" class="form-control"/>
                                </div>
                            </div>
                            <!--                        End date input-->
                            <div class="form-group row">

                                <div class="col-8">
                                    <label class="col-4 col-form-label">End Date </label>
                                    <input type="date" id="endDate" th:field="*{endDate}" class="form-control"/>
                                </div>
                            </div>

                            <!--                        Search function-->
                            <div>
                                <label class="col-4 col-form-label">Search Vehicles</label>
                                <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"/>
                                <button type="submit" id="searchVehicle" class="btn btn-primary">Search</button>
                            </div>
                            <div class="form-group row">
                                <div class="container text-center">
                                    <a class="btn btn-danger py-2"
                                       th:href="@{/vehicles/new}">Add New Vehicle</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </form>
            </div>
        </div>

<!--Search if we come from Booking,  points to filterVehiclesForCustomer, 2nd PostMapping-->
        <div th:if="${!titlePage.contains('Nordic')}" class="container text-center">
            <div  class="text-center border border-secondary rounded p-3">
                <form th:action="@{/vehicles/vehiclePageWithCustomer}"
                      th:object="${keyword}"
                      method="post"
                      style="max-width: 600px; margin: 0 auto;">
                    <form th:action="@{/vehicles/vehiclePageWithCustomer}" th:object="${searchDateVehicle}"
                          method="post" style="max-width: 600px; margin: 0 auto;">
                        <div class="m-3">
                            <!--                        Start date input-->
                            <div class="form-group row">

                                <div class="col-8">
                                    <label class="col-4 col-form-label">Start Date </label>
                                    <input type="date" id="startDateCustomer" th:field="*{startDate}"
                                           class="form-control"/>
                                </div>
                            </div>
                            <!--                        End date input-->
                            <div class="form-group row">

                                <div class="col-8">
                                    <label class="col-4 col-form-label">End Date </label>
                                    <input type="date" id="endDateCustomer" th:field="*{endDate}" class="form-control"/>
                                </div>
                            </div>

                            <!--                        Search function-->

                            <div>
                                <label class="col-4 col-form-label">Search Vehicles</label>
                                <input type="text" name="keyword" id="keywordForCustomer" size="50" th:value="${keyword}"/>
                                <button type="submit" id="searchVehicForCustomer" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
        </div>


        <!--    Table-->

        <div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Brand
                            <!--                            <select>-->
                            <!--                                <option th:each="brand : ${brandList}">-->
                            <!--                                    <span th:text=${brand}></span>-->
                            <!--                                </option>-->
                            <!--                            </select>-->
                        </th>
                        <th>Model
                            <!--                            <select>-->
                            <!--                                <option th:each="model : ${modelList}">-->
                            <!--                                    <span th:text=${model}></span>-->
                            <!--                                </option>-->
                            <!--                            </select>-->
                        </th>
                        <th>Capacity
                            <!--                            <select>-->
                            <!--                                <option th:each="capacity : ${capacityList}">-->
                            <!--                                    <span th:text=${capacity}></span>-->
                            <!--                                </option>-->
                            <!--                            </select>-->
                        </th>
                        <th>C License
                            <!--                            <select>-->
                            <!--                                <option th:each="cLicense : ${cLicenseList}">-->
                            <!--                                    <span th:text=${cLicense}></span>-->
                            <!--                                </option>-->
                            <!--                            </select>-->
                        </th>
                        <th>TotalKm
                            <!--                            <select>-->
                            <!--                            <option th:each="totalKm : ${totalKmList}">-->
                            <!--                                <span th:text=${totalKm}></span>-->
                            <!--                            </option>-->
                            <!--                        </select>-->
                        </th>
                        <th>Reg Plate
                            <!--                            <select>-->
                            <!--                                <option th:each="registrationPlate : ${registrationPlateList}">-->
                            <!--                                    <span th:text=${registrationPlate}></span>-->
                            <!--                                </option>-->
                            <!--                            </select>-->
                        </th>

                        <th th:if="${searchedBooking.startDate != null || !titlePage.contains('Nordic')}">Availability</th>
                        <th>Edit/Delete</th>
                        <th th:if="${searchedBooking.startDate != null || !titlePage.contains('Nordic')}">Choose</th>


                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="vehicle : ${vehiclesList}">
                        <td th:text="${vehicle.getBrand()}"></td>
                        <td th:text="${vehicle.getModel()}"></td>
                        <td th:text="${vehicle.getCapacity()}"></td>
                        <td th:text="${vehicle.getcLicense()}"></td>
                        <td th:text="${vehicle.getTotalKm()}"></td>
                        <td th:text="${vehicle.getRegistrationPlate()}"></td>
                        <td th:if="${searchedBooking.startDate != null || !titlePage.contains('Nordic')}"
                            th:text="${available}"></td>
                        <td>
                            <a class="btn btn-info" th:href="@{'/edit/' + ${vehicle.getRegistrationPlate()}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-info"
                               th:href="@{'/delete/' + ${vehicle.getRegistrationPlate()}}">Delete</a>
                        </td>   <!--edit/delete-->
                        <td th:if="${searchedBooking.startDate != null || !titlePage.contains('Nordic')}">
                            <a class="btn btn-success" id="choose"
                               th:if="${searchedBooking.startDate != null}" th:href="@{../bookings/new}">Choose</a>
                            <!--                                       "@{../bookings/new}">-->
                            <!--                                       "@{'../bookings/newFromVehicles/'-->
                            <!--                               + ${customerId}+'/'-->
                            <!--                               + ${vehicle.getRegistrationPlate()}+'/'-->
                            <!--                               + ${searchedBooking.getStartDate()}+'/'-->
                            <!--                               + ${searchedBooking.getEndDate()}}">-->
                        </td>   <!--choose-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script>
    </script>
</footer>
<style>
    .button-red {
        background-color: red;
    }

    .sideBnav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sideBnav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sideBnav a:hover {
        color: #f1f1f1;
    }


    @media screen and (max-height: 450px) {
        .sideBnav {
            padding-top: 15px;
        }

        .sideBnav a {
            font-size: 18px;
        }
    }
</style>
</html>
