<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h2>[[${pageTitle}]]</h2>
    <form th:action="@{/customers/save}"  method="post"
          style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Customer ID</label>
                <div class="col-sm-8">
                    <input type="text" disabled th:value="*{customerToAdd.customerId}" class="form-control">
                </div>
            </div>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" disabled th:value="*{customerToAdd.firstName}" class="form-control">
                </div>
            </div>
        </div>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" disabled th:value="*{customerToAdd.lastName}" class="form-control">
                </div>
            </div>
        </div>
        <div th:if="${customerToAdd2}">
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Customer ID</label>
                    <div class="col-sm-8">
                        <input type="text" disabled th:value="*{customerToAdd2.customerId}" class="form-control">
                    </div>
                </div>
                <div class="border border-secondary rounded p-3">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" disabled th:value="*{customerToAdd2.firstName}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="border border-secondary rounded p-3">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" disabled th:value="*{customerToAdd2.lastName}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">save</button>
            <a  th:href="@{'/customers/addMore/' + ${customerToAdd.customerId}}">addMore </a>
<!--            <a class="h5" th:href="@{'/customers/addToBooking/' + ${customer.customerId}}">Add</a>-->
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">cancel</button>
        </div>
    </form>
</div>
</body>
<footer>
    <script type="text/javascript">
        function cancelForm() {
            window.location = "/customers/customerPage"
        }
    </script>
</footer>
</html>
