<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}">
</head>
<body>
<!-- Side navigation -->
<div class="sideBnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/vehicles/vehiclePage}">Vehicles</a>
    <a th:href="@{/customers/customerPage}">Customer</a>
    <a th:href="@{/bookings/bookingPage}">Booking</a>
</div>
<!--End of sidebar-->
<div>
    <div class="container-fluid text-center">
<!--the page title depends on which mapping method leads to this page-->
        <h2>[[${pageTitle}]]</h2>
<!--the form with the Customer object's attributes-->
        <form th:action="@{/customers/save}" th:object="${newCustomer}" method="post"
              style="max-width: 500px; margin: 0 auto;">
            <input type="hidden" th:field="*{customerId}">
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{firstName}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{lastName}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date of Birth</label>
                    <div class="col-sm-8">
                        <input type="date" th:field="*{dateOfBirth}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{phoneNumber}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">License Number</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{licenseNumber}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">C License</label>
                    <div class="col-sm-8">
<!--the radio buttons are grupped and they pass the equivalent String value-->
                        <input type="radio" name="radio" id="y" value="Yes" th:field="*{cLicense}">
                        <label for="y">Yes</label>
                        <input type="radio" name="radio" id="n" value="No" checked="checked" th:field="*{cLicense}">
                        <label for="n">No</label>
                    </div>
                </div>
            </div>
            <div class="text-center">
<!--the form submitting button-->
                <button type="submit" class="btn btn-primary m-2">save</button>
<!--the cancel button uses a basic javascript function because it's so neat-->
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">cancel</button>
            </div>
        </form>
    </div>
</div>
</body>
<footer>
<!--    the neat little javascript function-->
    <script type="text/javascript">
        function cancelForm() {
            window.location = "/customers/customerPage"
        }
    </script>
<!--css style for the sidebar    -->
    <style>
        .sideBnav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sideBnav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        .sideBnav a:hover {
            color: #f1f1f1;
        }

        @media screen and (max-height: 450px) {
            .sideBnav {
                padding-top: 15px;
            }

            .sideBnav a {
                font-size: 18px;
            }
        }
    </style>
</footer>
</html>

