<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>

<!--Main Body-->
<body>

<div class="container-fluid text-center">

    <!--    Page Title-->
    <h2>[[${pageTitle}]]</h2>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <!--    Form Starts-->
    <form th:action="@{/bookings/new}" th:object="${newBooking}" method="post"
          style="max-width: 500px; margin: 0 auto;">
        <div class="row">
            <div class="col">
                <label class="text-center">Start Date </label>
            </div>
            <div class="col">
                <label class="text-center">End Date </label>
            </div>
            <div class="col">
                <label class="text-center">Check Available Vans </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="date" th:field="*{startDate}" class="align-content-center"/>
            </div>
            <div class="col">
                <input type="date" th:field="*{endDate}" class="align-content-center"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Check</button>
            </div>
        </div>
        <div class="border border-secondary rounded p-3">
            <select>
                <label class="text-center">Select Van </label>
                <option th:each="vehicle : ${vehicleList}">
                    <span th:text=${vehicle.toString()}></span>
                </option>
            </select>
        </div>

        <div class="border border-secondary rounded p-3">
            <select>
                <label class="text-center">Select Customer </label>
                <option th:each="customer : ${customerList}">
                    <span th:text=${customer.miniString()}></span>
                </option>
            </select>
        </div>







    </form>
</div>
</body>
<footer>
    <script type="text/javascript">
        function cancelForm() {
            window.location = "/vehicles/vehiclePage"
        }
    </script>
</footer>
</html>

